.banner-group-one-mobile{
  margin-bottom: 30px;
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.group-mobile__title{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.group-one-mobile__images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (min-width: 650px) {
    flex-wrap: nowrap;
  }

}

.group-one-img-wrap{
  width: 49.5%;
  margin-bottom: 20px;

  @media (min-width: 650px) {
    width: auto;
    margin-right: 5px;
    margin-bottom: 0;
    &:last-child{
      margin-right: 0;
    }
  }
}
