.header-top-nav{
  height: 100%;
  display: none;
  align-items: center;
  font-size: 14px;
  @media (min-width: 1024px) {
    display: flex;
  }
  @media (min-width: 1230px) {
    display: flex;
    font-size: 16px;
  }
}

.ht-nav-li{
  position: relative;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.ht-nav__link{
  color: #707070;
  &:hover{
    color: #000;
  }
}
