.footer-subscription{
  background-color: #ccc;
  padding: 20px 0;
}

.footer-subscription-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

  @media (min-width: 1000px) {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
}

.f-subscript-form__desc{
  font-weight: 400;
  max-width: 490px;
  margin-bottom: 10px;
  font-size: 12px;
  @media (min-width: 540px) {
    margin-bottom: 15px;
    font-size: 15px;
  }
  @media (min-width: 1000px) {
    width: 50%;
    margin-bottom: 0;
  }
}

.f-subscript-form{
    max-width: 500px;
  @media (min-width: 1000px) {
    max-width: 50%;
    width: 100%;
  }
}

