.main-carousel{
  position: relative;
  padding: 0;
  margin-bottom: 30px;
  display: none;
  z-index: 1;
  @media(min-width: 768px){
    display: block;
  }

  @media(min-width: 1024px){
    margin-bottom: 50px;
  }

  @media(min-width: 1280px){
    display: block;
    padding: 0 15px;
  }
}




.main-carousel-nav__arrow{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  z-index: 1000;
  transition: 0.2s ease;
  background-repeat: no-repeat;
  background-size: 22px;
  &:hover{
    background-color: rgba(255, 255, 255, 1);
  }
  @media(min-width: 1024px){
    width: 50px;
    height: 50px;
    background-size: 25px;
  }

}

._slider-prev{
  left: 30px;
  background-position: 40% 50%;
  background-image: url('../../images/interface/main-carousel-prev-l.svg');
  &:hover {
    background-image: url('../../images/interface/main-carousel-prev-d.svg')
  }
  @media(min-width: 1024px){
    left: 50px;
  }
}

._slider-next{
  right: 30px;
  background-position: 60% 50%;
  background-image: url('../../images/interface/main-carousel-next-l.svg');
  &:hover {
    background-image: url('../../images/interface/main-carousel-next-d.svg');
  }
  @media(min-width: 1024px){
    right: 50px;
  }
}
