.banner-group-one{
  margin-bottom: 70px;
}

.b-group-1-inner{
  max-height: 500px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.b-group-1__desc{
  font-size: 22px;
  width: 100%;
  margin-bottom: 15px;
}


.b-group-1-left{
  display: flex;
  margin-right: 15px;
}

.b-group-1-right{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.b-group-1-bottom{
  max-width: 940px;
  display: flex;
}

.b-group-1-b-left{
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  justify-content: space-between;
}

.b-group-1-b-right{
  width: 100%;
  max-width: 510px;
  display: flex;
}

.b-group-1-top{
  margin-bottom: 15px;
}


