.banner-group-one{
  display: none;
  //padding: 0 10px;
  @media  (min-width: 768px) {
    display: block;
  }
}

.b-group-1-inner{
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}



.b-group-1-img1{
  display: flex;
  margin-right: 10px;
}

.b-group-1-right{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.b-group-1-img2{
  display: flex;
  margin-bottom: 10px;
}


.b-group-1-bottom{
  display: flex;
  justify-content: space-between;
}



.b-group-1-b-left{
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.b-group-1__desc{
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 415px;
  font-size: 14px;
  margin-bottom: 10px;
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.b-group-1-b-img3{
  display: flex;
}

.b-group-1-img4{
  display: flex;
}




