.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  width: 240px;
  height: 430px;
  padding: 20px 20px;
  border: 1px solid #d5d5d5;
  transition: 0.2s ease;
  &:hover{
    transform: translateY(-7px);
    box-shadow: 0 7px 7px 3px rgba(0, 0, 0, 0.1);
  }
}





