.search-mobile-icon{
  display: flex;
  width: 25px;
  height: 25px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url('../../../images/interface/search-mobile.svg');

}
