.header-user-menu{
  display: flex;
}

.h-user-menu-item{
  display: flex;
  align-items: center;
  margin-right: 30px;
  &:last-child{
    margin-right: 0;
  }
}

.h-user-menu__icon{
  width: 30px;
  height: 30px;
  margin-right: 10px;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

._user-icon{
  background-image: url('../../images/icon/user.svg');
}

._basket-icon{
  background-image: url('../../images/icon/basket.svg');
}

.h-user-menu__content{
  font-size: 14px;
}
