@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:wght@400;500;600&family=Roboto:wght@300;400&display=swap');
//font-family: 'Marck Script', cursive;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{

}

li{
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

img{
  display: block;
  width: 100%;
}

a{
  text-decoration: none;
  color: #000;
}



.container{
  max-width: 1300px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  @media (min-width: 1024px) {
    padding: 0 10px;
  }
}

.btn{
  display: inline-block;
  padding: 8px 25px;
  border-radius: 5px;
  border: none;

  color: #fff;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  cursor: pointer;
}

._redBtn{
  background-color: #cd5252;
  transition: .1s ease-in;
  &:hover{
    background-color: #ff7575;
  }
}

._blueBtn{
  background-color: #406fb4;
  transition: .1s ease-in;
  &:hover{
    background-color: #429ae1;
  }
}

.input{
  width: 100%;
  border: 1px solid #c5c5c5;
  padding: 7px 15px;
  border-radius: 5px;
  outline: none;

  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;

}

.input::-webkit-input-placeholder {color:#aaa; letter-spacing: 0.1em;}
.input::-moz-placeholder          {color:#aaa; letter-spacing: 0.1em;}
.input:-moz-placeholder           {color:#aaa; letter-spacing: 0.1em;}
.input:-ms-input-placeholder      {color:#aaa; letter-spacing: 0.1em;}

.mb70{
  margin-bottom: 70px;
}

.mb90{
  margin-bottom: 90px;
}
