.logo{
  display: flex;
  align-items: baseline;
  font-family: 'Marck Script', cursive;
  font-size: 25px;
  letter-spacing: 0;
  @media (min-width: 1024px) {
    font-size: 35px;
  }
}

.logo-icon{
  position: relative;
  width: 25px;
  height: 25px;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../../images/logo-color.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  @media (min-width: 1024px) {
    width: 35px;
    height: 35px;
    &::before{
      width: 35px;
      height: 35px;
    }
  }
}
