.back-btn{
  position: absolute;
  top: 17px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url('../../images/interface/left-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}
