.product-row{
  margin-bottom: 80px;
}

.product-row__title{
  text-align: center;
  font-size: 30px;
  color: #ff4214;
  margin-bottom: 50px;
}

.product-row-item{
  display: flex;
  justify-content: space-between;
}
