.header-center{
  padding: 15px 0;
  background-color: #f9f9f9;
  @media(min-width: 768px) {
    padding: 20px 0;
  }
}


.hc-inner{
  display: flex;
  align-items: center;
}

.hc__promo{
  display: none;
  margin-right: 20px;
  font-size: 15px;
  @media (min-width: 768px) {
    display: block;
  }
}

.catalog__mobile{
  font-size: 12px;
  font-weight: 300;
  background-color: #406fb4;
  @media (min-width: 768px) {
    display: none;
  }
}

.header-search{
  display:none;
  flex-grow: 1;
  margin-right: 40px;
  @media (min-width: 768px) {
    display: flex;
  }
}

.search-mobile-icon-wrap{
  display: block;
  margin-right: 20px;
  margin-left: auto;
  @media (min-width: 768px) {
    display: none;
  }
}

