.card-product-demo{
  margin-bottom: 15px;

}

.product-img-wrap{
  display: flex;
  height: 230px;

  flex-direction: column;
  justify-content: center;
}

.product__img{
  margin: 0 auto;
  width: auto;
  max-height: 230px;
}
