.header-bottom{
  background-color: #f9f9f9;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}

.hb-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
