.header-shop-item{
  margin-bottom: 10px;
}

.shop-item__title{
  display: inline-block;
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 600;
}

.shop-item-info__desc{
  margin-bottom: 4px;
}
