.header-addresses{
  position: relative;
  display: none;
  align-items: center;
  margin-left: 15px;
  padding-left: 25px;
  &::before{
    content: '';
    position: absolute;
    top:50%;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../../../images/icon/location.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 center;
  }

  &:hover{
    height: 100%;
  }

  &:hover .header-addresses-shops{
    display: flex;
  }

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1230px) {
    padding-left: 30px;
    &::before{
      width: 25px;
      height: 25px;
    }
  }
}

.header-addresses__link{
  font-size: 14px;
  border-bottom: 1px dotted #000;
  @media (min-width: 1230px) {
    font-size: 17px;
  }
}
