.footer-subscription-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-subscript-form__desc{
  margin-right: 100px;
  font-size: 18px;
  font-weight: 600;
}

.f-subscript-form{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.f-subscript-form__input{
  border-radius: 5px 0 0 5px;
  max-width: 400px;
}

.f-subscript-form__btn{
  border-radius: 0 5px 5px 0;
  font-size: 13px;
}
