.mobile-nav{
  position: fixed;
  top: 0;
  left: 0;
  padding: 54px 0 30px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fcfcfc;
  transition: 0.3s ease;
  @media (min-width: 768px) {
    display: none;
  }

}

.mobile-nav._close{
  transform: translate(0, 0 );
}

.mobile-nav._open{
  transform: translate(0, 0);
}


